@import url('https://fonts.googleapis.com/css?family=Poiret+One');

*{
    font-family: 'Poiret one';
}

body{
    margin: 0; 
    padding: 0;
    font-family: 'Poiret One';
    font-weight: 600;
}

#root{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calendar{
    position: fixed;
    top:0;
    left:0;
    width: calc(70vw - 50px);
    /*height: 90vh;*/
    /*background: #596873;*/
}

.cell{
    position: relative;
    display: inline-flex;
    flex-direction: column;
     align-items: start; 
    /* justify-content: center; */
    width: calc((70vw - 50px) / 7);
    height: calc((100vh - 40px) / 8);
    border:0 solid #f1f5ee;
    border-width: 2px 1px;
    box-sizing: border-box;
    font-size: 22px;
    margin:-1px 0;
    background: #fff;
    cursor : pointer;
    padding: 5px;
}

img{
    height: 28%;
    position: relative;
    top: 0;
}

.event{
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background: #447474;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.3s;
}

.event:hover{
    width:100px;
    
}

.lecture{
    background: #555
}


.cell:hover{
    /*box-shadow: 0 0 7px 7px #888;*/
    background: #f8f9f7;
    
}

/*.cell:first-child{
    border-left-width: 2px;
}

.cell:last-child{
    border-right-width: 2px;
}*/

.today{
    background: #f9e1e5;
}

.today:hover{
    background: #ea93a1;
}

.none{
    display: none;
}

p.date{
    
position: absolute;
    
bottom: 5px;
    
right: 5px;
    
padding: 0;
    
margin: 0;
}

.prev-month .cell, .next-month .cell {
    opacity: 0.6;
    background: #f1f5ee;
}

.prev-month, .next-month, .current-month{
    display: inline;
}

.week-days{
    width: 100%;
    
}

.week-days .cell{
    background: #489c94;
    font-size: 16px;
    padding: 5px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.btn{
    border: none;
    outline: none;
    box-shadow: none;
    height: 100%;
        background: #ddd;
}

.btn:hover{
    background: #aaa;
}

.events{
    font-size: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}

.info-panel{
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 30%;
    background: #447474;
    padding:0 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.close{
    transform: rotate(45deg);
    position: absolute;
    top:5px;
    left:20px;
    cursor:pointer;
    width:30px;
    height: 30px;
    font-size : 40px

}

.speaker{
    display: inline-block;
}

.avatar{
    width:20%;
}

@media(max-width: 480px){
    .info-panel{
        position: relative;
        width:100vw;
        height: 400px;
    }
}
/*.prev{
    float: left;
}

.next{
    float: right;
}

.header:after{
    content:'';
    display: block;
    clear: both;
}*/
